@import url('https://fonts.cdnfonts.com/css/gotham-6');
body {
    font-family: 'Gotham Black', sans-serif;
    margin: 0;
    padding: 0;
}

.success, .info, .warning, .error {
    padding: 10px;
}

.success {
    background: #00b961;
}

.info {
    background: #2a92bf;
}

.good {
    background: #2a92bf;
}

.warning {
    background: #f4ce46;
}

.error {
    background: #fb7d44;
}

.custom-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 7px 5%;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
}


body.swal2-shown > [aria-hidden='true'] {
  transition: 0.1s filter;
  filter: blur(3px);
}


